<!-- instagram section -->
<section class="instagram ratio_square">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="title-borderless"># instagram</h2>
        <div class="slide-5 no-arrow slick-instagram">
          <div>
            <a href="#">
              <div class="instagram-box">
                <img
                  src="../assets/images/slider/watches/1.jpg"
                  class="bg-img"
                  alt="Avatar"
                  style="width: 100%"
                />
                <div class="overlay">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </div>
              </div>
            </a>
          </div>
          <div>
            <a href="#">
              <div class="instagram-box">
                <img
                  src="../assets/images/slider/watches/2.jpg"
                  alt="Avatar"
                  class="bg-img"
                  style="width: 100%"
                />
                <div class="overlay">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </div>
              </div>
            </a>
          </div>
          <div>
            <a href="#">
              <div class="instagram-box">
                <img
                  src="../assets/images/slider/watches/3.jpg"
                  alt="Avatar"
                  class="bg-img"
                  style="width: 100%"
                />
                <div class="overlay">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </div>
              </div>
            </a>
          </div>
          <div>
            <a href="#">
              <div class="instagram-box">
                <img
                  src="../assets/images/slider/watches/4.jpg"
                  alt="Avatar"
                  class="bg-img"
                  style="width: 100%"
                />
                <div class="overlay">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </div>
              </div>
            </a>
          </div>
          <div>
            <a href="#">
              <div class="instagram-box">
                <img
                  src="../assets/images/slider/watches/5.jpg"
                  alt="Avatar"
                  class="bg-img"
                  style="width: 100%"
                />
                <div class="overlay">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </div>
              </div>
            </a>
          </div>
          <div>
            <a href="#">
              <div class="instagram-box">
                <img
                  src="../assets/images/slider/watches/6.jpg"
                  alt="Avatar"
                  class="bg-img"
                  style="width: 100%"
                />
                <div class="overlay">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </div>
              </div>
            </a>
          </div>
          <div>
            <a href="#">
              <div class="instagram-box">
                <img
                  src="../assets/images/slider/watches/7.jpg"
                  alt="Avatar"
                  class="bg-img"
                  style="width: 100%"
                />
                <div class="overlay">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </div>
              </div>
            </a>
          </div>
          <div>
            <a href="#">
              <div class="instagram-box">
                <img
                  src="../assets/images/slider/watches/8.jpg"
                  alt="Avatar"
                  class="bg-img"
                  style="width: 100%"
                />
                <div class="overlay">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </div>
              </div>
            </a>
          </div>
          <div>
            <a href="#">
              <div class="instagram-box">
                <img
                  src="../assets/images/slider/watches/2.jpg"
                  alt="Avatar"
                  class="bg-img"
                  style="width: 100%"
                />
                <div class="overlay">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- instagram section end -->
