<!-- collection banner -->
<section class="ratio_45">
  <div class="container">
    <div class="row partition3">
      <div class="col-md-4">
        <a href="#">
          <div class="collection-banner p-left">
            <div class="img-part">
              <img
                src="../assets/images/banner1.jpg"
                class="img-fluid blur-up lazyload bg-img"
                alt=""
              />
            </div>
            <div class="contain-banner banner-3">
              <div>
                <h4>minimum 10% off</h4>
                <h2>new watch</h2>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a href="#">
          <div class="collection-banner p-left text-left">
            <div class="img-part">
              <img
                src="../assets/images/banner2.jpg"
                class="img-fluid blur-up lazyload bg-img"
                alt=""
              />
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a href="#">
          <div class="collection-banner p-left">
            <div class="img-part">
              <img
                src="../assets/images/banner.jpg"
                class="img-fluid blur-up lazyload bg-img"
                alt=""
              />
            </div>
            <div class="contain-banner banner-3">
              <div>
                <h4>minimum 50% off</h4>
                <h2>gold watch</h2>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- collection banner end -->
