<app-home-slider></app-home-slider>
<app-home-collection-banner></app-home-collection-banner>
<app-home-paragraph></app-home-paragraph>
<app-home-product-slider
  [items]="DataHome.productSlider"
></app-home-product-slider>
<app-home-parallax-banner></app-home-parallax-banner>
<app-home-tap-top [items]="DataHome.TopProduct"></app-home-tap-top>
<app-home-service-layout></app-home-service-layout>
<app-home-blog-section></app-home-blog-section>
<app-home-instregarm-section></app-home-instregarm-section>
<app-home-logo-section></app-home-logo-section>
