<!-- blog section -->
<div class="container">
  <div class="row">
    <div class="col">
      <div class="title1 section-t-space">
        <h4>Recent Story</h4>
        <h2 class="title-inner1">from the blog</h2>
      </div>
    </div>
  </div>
</div>
<section class="blog p-t-0 ratio2_3">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="slide-3 no-arrow">
          <!-- Coming from API -->
          <app-blog></app-blog>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- blog section end -->
